<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title> Hister Tust </title>
    <style type='text/css'>
      /* Reset styles */ body, table, td, p, a { font-family: Arial, sans-serif;
      font-size: 14px; line-height: 1.5; margin: 0; padding: 0; } img { border:
      0; display: block; margin: 0 auto; } /* Container */ .container { width:
      100%; max-width: 600px; margin: 0 auto; } /* Header */ .header {
      background-color: #f0f0f0; padding: 20px; text-align: center; } /* Body */
      .body { padding: 20px; } /* Footer */ .footer { background-color: #f0f0f0;
      padding: 20px; text-align: center; } .logo-img { width: 50%; }
    </style>
  </head>

  <body>
    <div class='container'>
      <div class='header'>
        <img
          class='logo-img'
          src='https://globallegals.com/assets/GlobalLegalsLine-ClMh5K7R.png'
        />
        <h3> We're here for all your legal service needs.</h3>
      </div>
      <div class='body'>

        <p>Hello,</p>
        <br />
        <p>You have been invited to register as a user with the following
          details:</p>
        <br />
        <ul>
          <li>Role ID: {{role}}</li>
          <li>School ID: {{school}}</li>
        </ul>
        <br />
        <p> <a href={{{link}}}> cliclk here</a> to register in our app.</p>
        <br />
        <p>Welcome aboard!</p>

      </div>
      <div class='footer'>
        <p>Thank you.</p>
      </div>
    </div>
  </body>
  s
</html>